<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 868 434"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  >
    <g transform="matrix(1,0,0,1,-4255.91,-7791.07)">
      <g transform="matrix(1,0,0,1,3448.1,7088.46)">
        <g transform="matrix(1.57275,0,0,1.57275,-1058.4,-223.667)">
          <path
            d="M1738.37,864.844L1650.51,864.844C1640.52,864.844 1630.94,860.876 1623.88,853.813C1585.84,815.777 1462.49,692.417 1462.49,692.417L1426.32,728.578L1562.59,864.844C1562.59,864.844 1503.41,864.844 1474.57,864.844C1464.68,864.844 1455.2,860.917 1448.21,853.927C1425.36,831.077 1374.59,780.31 1374.59,780.31C1374.59,780.31 1323.86,831.043 1301,853.904C1293.99,860.908 1284.49,864.844 1274.59,864.844L1186.6,864.844C1186.6,864.844 1366.51,684.927 1435.76,615.676C1442.85,608.589 1452.46,604.608 1462.49,604.608C1472.51,604.608 1482.12,608.589 1489.21,615.676C1558.46,684.927 1738.37,864.844 1738.37,864.844Z"
          />
        </g>
      </g>
    </g>
  </svg>
</template>
<script>
export default {
  name: 'FixrsLogo',
}
</script>
