<template>
  <div id="app">
    <FixrsLogo />
  </div>
</template>

<script>
import FixrsLogo from './components/fixrs-logo.vue'

export default {
  name: 'App',
  components: {
    FixrsLogo
  },
  data () {
    return {
      fixrs: [
        {name: 'Pierre-Paul', email: 'pierrepaul@fixrs.ca', vacation: false},
        {name: 'Edouard', email: 'edouard@fixrs.ca', vacation: false},
        {name:'Francois', email: 'francois@fixrs.ca', vacation: false},
        {name:'Ismael', email: 'ismael@fixrs.ca', vacation: false},
        {name:'Simon', email: 'simon@fixrs.ca', vacation: true},
        {name:'Charles', email: 'charles@fixrs.ca', vacation: false},
        {name:'Thomas', email: 'thomas@fixrs.ca', vacation: false},
        {name:'Michelle', email: 'michelle@fixrs.ca', vacation: true},
        {name:'Arthur', email: 'arthur@fixrs.ca', vacation: false},
        {name:'Vini', email: 'vinicius@fixrs.ca', vacation: false},
      ]
    }
  },
  methods: {
    congrats () {
      alert('congrats!')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
